# creating data frame

In [1]:
import pandas as pd

In [2]:

df = pd.DataFrame() # creating empty data frame
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
l1 = [10,20,30,40,50] # create a data frame bys using single list
df = pd.DataFrame(l1,columns=["numbers"]) 
print(df)

   numbers
0       10
1       20
2       30
3       40
4       50

In [7]:
d1 = {
    "no":[1,2,3],
    "name":["veena","raja","seeta"],
    "course":["python","java","c#"]
}
df2 = pd.DataFrame(d1,index=["r1","r2","r3"])
print(df2)

    no   name  course
r1   1  veena  python
r2   2   raja    java
r3   3  seeta      c#

In [9]:
nested_list = [
    [1,"raj",20],
    [2,"sujay",30],
    [3,'vignesh',25]
]
df3 = pd.DataFrame(nested_list,columns=["Id","Name","Score"])
print(df3)

   Id     Name  Score
0   1      raj     20
1   2    sujay     30
2   3  vignesh     25

In [23]:
df4 = pd.read_csv("mobiledataset.csv")
print(df4)

      battery_power  clock_speed  dual_sim  n_cores   ram  wifi  price_range
0               842          2.2         0      NaN  2549     1            1
1              1021          0.5         1      NaN  2631     0            2
2               563          0.5         1      NaN  2603     0            2
3               615          2.5         0      6.0  2769     0            2
4              1821          1.2         0      2.0  1411     0            1
...             ...          ...       ...      ...   ...   ...          ...
1995            794          0.5         1      6.0   668     0            0
1996           1965          2.6         1      4.0  2032     1            2
1997           1911          0.9         1      8.0  3057     0            3
1998           1512          0.9         0      5.0   869     1            0
1999            510          2.0         1      6.0  3919     1            3

[2000 rows x 7 columns]

In [12]:
print(df4.shape)

(2000, 7)

In [13]:
print(df4.head())

   battery_power  clock_speed  dual_sim  n_cores   ram  wifi  price_range
0            842          2.2         0      NaN  2549     1            1
1           1021          0.5         1      NaN  2631     0            2
2            563          0.5         1      NaN  2603     0            2
3            615          2.5         0      6.0  2769     0            2
4           1821          1.2         0      2.0  1411     0            1

In [14]:
print(df4.tail())

      battery_power  clock_speed  dual_sim  n_cores   ram  wifi  price_range
1995            794          0.5         1      6.0   668     0            0
1996           1965          2.6         1      4.0  2032     1            2
1997           1911          0.9         1      8.0  3057     0            3
1998           1512          0.9         0      5.0   869     1            0
1999            510          2.0         1      6.0  3919     1            3

In [20]:
print(df4.head(50))

    battery_power  clock_speed  dual_sim  n_cores   ram  wifi  price_range
0             842          2.2         0      NaN  2549     1            1
1            1021          0.5         1      NaN  2631     0            2
2             563          0.5         1      NaN  2603     0            2
3             615          2.5         0      6.0  2769     0            2
4            1821          1.2         0      2.0  1411     0            1
5            1859          0.5         1      1.0  1067     0            1
6            1821          1.7         0      8.0  3220     1            3
7            1954          0.5         1      4.0   700     1            0
8            1445          0.5         0      7.0  1099     0            0
9             509          0.6         1      5.0   513     0            0
10            769          2.9         1      5.0  3946     0            3
11           1520          2.2         0      8.0  3826     1            3
12           1815          2.8         0      4.0  1482     0            1
13            803          2.1         0      4.0  2680     1            2
14           1866          0.5         0      1.0   373     1            0
15            775          1.0         0      2.0   568     1            0
16            838          0.5         0      8.0  3554     1            3
17            595          0.9         1      3.0  3752     0            3
18           1131          0.5         1      5.0  1835     0            1
19            682          0.5         0      4.0  2337     1            1
20            772          1.1         1      7.0  2819     0            3
21           1709          2.1         0      2.0  3283     0            3
22           1949          2.6         1      4.0  1433     1            1
23           1602          2.8         1      3.0  1037     0            0
24            503          1.2         1      3.0  2583     0            1
25            961          1.4         1      8.0  2782     1            2
26            519          1.6         1      4.0  3763     1            3
27            956          0.5         0      7.0  3286     0            3
28           1453          1.6         1      2.0  2373     1            2
29            851          0.5         0      5.0   478     1            0
30           1579          0.5         1      7.0  3532     1            3
31           1568          0.5         0      8.0   508     1            0
32           1319          0.9         0      1.0  2227     1            1
33           1310          2.2         1      4.0  3845     0            3
34            644          2.7         0      8.0  1262     0            0
35            725          1.3         1      8.0  1326     0            1
36            589          2.3         1      4.0  2113     1            1
37           1725          1.6         1      2.0  3429     0            3
38            790          2.0         1      6.0  3169     1            2
39            560          0.5         1      2.0  2150     0            2
40           1347          2.9         0      1.0  2484     1            2
41           1646          2.3         0      2.0  3339     0            3
42           1253          0.5         1      2.0  1878     0            1
43           1656          1.0         0      3.0  1629     0            1
44           1195          2.8         0      2.0   504     0            0
45           1514          2.9         0      3.0  1152     1            1
46           1723          1.1         1      8.0  3587     0            3
47           1054          1.8         1      7.0  2296     1            1
48            578          2.6         1      8.0  1270     1            0
49            596          2.1         1      8.0  3238     0            3

In [21]:
print(df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   clock_speed    2000 non-null   float64
 2   dual_sim       2000 non-null   int64
 3   n_cores        1997 non-null   float64
 4   ram            2000 non-null   int64
 5   wifi           2000 non-null   int64
 6   price_range    2000 non-null   int64
dtypes: float64(2), int64(5)
memory usage: 109.5 KB
None